.images {
    width: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
img {
    width: 100%;
    pointer-events: none;
    transition: transform .5s ease-out;
    user-select: none;
}
.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}
.dot {
    color: rgb(151, 151, 151);
    margin: 0px 2px;
    font-size: 20px;
}
 .active {
    color: rgb(240, 240, 240);
    font-size: 32px;
}